<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
    <title>Landlord Dashboard</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../partials/auth-nav.ejs') %>
    <%- include('../partials/sidebar.ejs') %>
      <%- include('../partials/scripts.ejs') %>




</body>

</html>