<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
    <title>Tenant Dashboard</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/scripts.ejs') %>




</body>

</html>